(
    id: "base_tiles",
    display_name: "Phase 17 Generated Terrain Tileset",
    texture_path: "assets/textures/terrain_atlas_phase17_generated.png",
    tile_width: 32,
    tile_height: 32,
    columns: 11,
    rows: 13,
    named_tiles: [
        (id: "grass_bright", x: 0, y: 0),
        (id: "grass_dark", x: 1, y: 0),
        (id: "grass_flowers", x: 2, y: 0),
        (id: "grass_bright_v03", x: 3, y: 0),
        (id: "grass_bright_v04", x: 4, y: 0),
        (id: "grass_bright_v05", x: 5, y: 0),
        (id: "grass_bright_v06", x: 6, y: 0),
        (id: "grass_bright_v07", x: 7, y: 0),
        (id: "grass_bright_v08", x: 8, y: 0),
        (id: "grass_bright_v09", x: 9, y: 0),
        (id: "grass_extra_v10", x: 10, y: 1),
        (id: "grass_dark_v00", x: 0, y: 1),
        (id: "grass_dark_v01", x: 1, y: 1),
        (id: "grass_dark_v02", x: 2, y: 1),
        (id: "grass_dark_v03", x: 3, y: 1),
        (id: "grass_dark_v04", x: 4, y: 1),
        (id: "grass_dark_v05", x: 5, y: 1),
        (id: "grass_dark_v06", x: 6, y: 1),
        (id: "grass_dark_v07", x: 7, y: 1),
        (id: "grass_dark_v08", x: 8, y: 1),
        (id: "grass_dark_v09", x: 9, y: 1),
        (id: "grass_dark_v10", x: 10, y: 1),
        (id: "dirt", x: 0, y: 2),
        (id: "dirt_v01", x: 1, y: 2),
        (id: "dirt_v02", x: 2, y: 2),
        (id: "dirt_v03", x: 3, y: 2),
        (id: "dirt_v04", x: 4, y: 2),
        (id: "dirt_v05", x: 5, y: 2),
        (id: "dirt_v06", x: 6, y: 2),
        (id: "dirt_v07", x: 7, y: 2),
        (id: "dirt_v08", x: 8, y: 2),
        (id: "dirt_v09", x: 9, y: 2),
        (id: "path_sand", x: 1, y: 2),
        (id: "path_sand_v01", x: 2, y: 2),
        (id: "path_sand_v02", x: 3, y: 2),
        (id: "path_sand_v03", x: 4, y: 2),
        (id: "path_sand_v04", x: 5, y: 2),
        (id: "path_sand_v05", x: 6, y: 2),
        (id: "path_sand_v06", x: 7, y: 2),
        (id: "path_sand_v07", x: 8, y: 2),
        (id: "path_sand_v08", x: 9, y: 2),
        (id: "path_sand_v09", x: 10, y: 2),
        (id: "tilled_dry", x: 0, y: 3),
        (id: "tilled_dry_v01", x: 1, y: 3),
        (id: "tilled_dry_v02", x: 2, y: 3),
        (id: "tilled_dry_v03", x: 3, y: 3),
        (id: "tilled_dry_v04", x: 4, y: 3),
        (id: "tilled_dry_v05", x: 5, y: 3),
        (id: "tilled_dry_v06", x: 5, y: 3),
        (id: "tilled_dry_v07", x: 5, y: 3),
        (id: "tilled_dry_v08", x: 5, y: 3),
        (id: "tilled_dry_v09", x: 5, y: 3),
        (id: "tilled_watered", x: 5, y: 3),
        (id: "tilled_watered_v01", x: 6, y: 3),
        (id: "tilled_watered_v02", x: 7, y: 3),
        (id: "tilled_watered_v03", x: 8, y: 3),
        (id: "tilled_watered_v04", x: 9, y: 3),
        (id: "tilled_watered_v05", x: 10, y: 3),
        (id: "tilled_watered_v06", x: 10, y: 3),
        (id: "tilled_watered_v07", x: 10, y: 3),
        (id: "tilled_watered_v08", x: 10, y: 3),
        (id: "tilled_watered_v09", x: 10, y: 3),
        (id: "stone_floor", x: 0, y: 4),
        (id: "stone_floor_v01", x: 1, y: 4),
        (id: "stone_floor_v02", x: 2, y: 4),
        (id: "stone_floor_v03", x: 3, y: 4),
        (id: "stone_floor_v04", x: 4, y: 4),
        (id: "stone_floor_v05", x: 5, y: 4),
        (id: "wood_floor", x: 6, y: 4),
        (id: "wood_floor_v01", x: 7, y: 4),
        (id: "wood_floor_v02", x: 8, y: 4),
        (id: "wood_floor_v03", x: 9, y: 4),
        (id: "wood_floor_v04", x: 10, y: 4),
        (id: "sand", x: 0, y: 5),
        (id: "sand_v01", x: 1, y: 5),
        (id: "sand_v02", x: 2, y: 5),
        (id: "sand_v03", x: 3, y: 5),
        (id: "sand_v04", x: 4, y: 5),
        (id: "sand_v05", x: 5, y: 5),
        (id: "sand_v06", x: 6, y: 5),
        (id: "sand_v07", x: 7, y: 5),
        (id: "sand_v08", x: 8, y: 5),
        (id: "sand_v09", x: 9, y: 5),
        (id: "water_shallow", x: 0, y: 6),
        (id: "water_shallow_v01", x: 1, y: 6),
        (id: "water_shallow_v02", x: 2, y: 6),
        (id: "water_shallow_v03", x: 3, y: 6),
        (id: "water_shallow_v04", x: 4, y: 6),
        (id: "water_shallow_v05", x: 5, y: 6),
        (id: "water_shallow_v06", x: 6, y: 6),
        (id: "water_shallow_v07", x: 7, y: 6),
        (id: "water_shallow_v08", x: 8, y: 6),
        (id: "water_shallow_v09", x: 9, y: 6),
        (id: "water_deep", x: 0, y: 7),
        (id: "water_deep_v01", x: 1, y: 7),
        (id: "water_deep_v02", x: 2, y: 7),
        (id: "water_deep_v03", x: 3, y: 7),
        (id: "water_deep_v04", x: 4, y: 7),
        (id: "water_deep_v05", x: 5, y: 7),
        (id: "water_deep_v06", x: 6, y: 7),
        (id: "water_deep_v07", x: 7, y: 7),
        (id: "water_deep_v08", x: 8, y: 7),
        (id: "water_deep_v09", x: 9, y: 7),
        (id: "cliff", x: 0, y: 8),
        (id: "cliff_v01", x: 1, y: 8),
        (id: "cliff_v02", x: 2, y: 8),
        (id: "cliff_v03", x: 3, y: 8),
        (id: "cliff_v04", x: 4, y: 8),
        (id: "cliff_v05", x: 5, y: 8),
        (id: "cliff_v06", x: 6, y: 8),
        (id: "cliff_v07", x: 7, y: 8),
        (id: "cliff_v08", x: 8, y: 8),
        (id: "cliff_v09", x: 9, y: 8),
        (id: "grass_sand_n", x: 2, y: 5),
        (id: "grass_sand_e", x: 3, y: 5),
        (id: "grass_sand_s", x: 4, y: 5),
        (id: "grass_sand_w", x: 5, y: 5),
        (id: "grass_sand_ne", x: 6, y: 5),
        (id: "grass_sand_se", x: 7, y: 5),
        (id: "grass_sand_sw", x: 8, y: 5),
        (id: "grass_sand_nw", x: 9, y: 5),
        (id: "shore_n", x: 2, y: 6),
        (id: "shore_e", x: 3, y: 6),
        (id: "shore_s", x: 4, y: 6),
        (id: "shore_w", x: 5, y: 6),
        (id: "shore_ne", x: 6, y: 6),
        (id: "shore_se", x: 7, y: 6),
        (id: "shore_sw", x: 8, y: 6),
        (id: "shore_nw", x: 9, y: 6),
        (id: "depth_n", x: 2, y: 7),
        (id: "depth_e", x: 3, y: 7),
        (id: "depth_s", x: 4, y: 7),
        (id: "depth_w", x: 5, y: 7),
        (id: "depth_ne", x: 6, y: 7),
        (id: "depth_se", x: 7, y: 7),
        (id: "depth_sw", x: 8, y: 7),
        (id: "depth_nw", x: 9, y: 7),
        (id: "grass_path_n", x: 2, y: 2),
        (id: "grass_path_e", x: 3, y: 2),
        (id: "grass_path_s", x: 4, y: 2),
        (id: "grass_path_w", x: 5, y: 2),
        (id: "grass_tilled_n", x: 2, y: 3),
        (id: "grass_tilled_e", x: 3, y: 3),
        (id: "grass_tilled_s", x: 4, y: 3),
        (id: "grass_tilled_w", x: 5, y: 3),
        (id: "tilled_watered_n", x: 6, y: 3),
        (id: "tilled_watered_e", x: 7, y: 3),
        (id: "tilled_watered_s", x: 8, y: 3),
        (id: "tilled_watered_w", x: 9, y: 3),
        (id: "flowers_yellow", x: 0, y: 9),
        (id: "flowers_pink", x: 1, y: 9),
        (id: "flowers_purple", x: 2, y: 9),
        (id: "flowers_blue", x: 3, y: 9),
        (id: "flowers_white", x: 4, y: 9),
        (id: "bush", x: 5, y: 9),
        (id: "bush_flowers", x: 6, y: 9),
        (id: "bush_berries", x: 7, y: 9),
        (id: "tree_pine", x: 8, y: 9),
        (id: "tree_round", x: 9, y: 9),
        (id: "tree_leafy", x: 10, y: 9),
        (id: "stump", x: 0, y: 10),
        (id: "branch_rock", x: 1, y: 10),
        (id: "rock", x: 2, y: 10),
        (id: "rock_light", x: 3, y: 10),
        (id: "sprout", x: 4, y: 10),
        (id: "sign", x: 5, y: 10),
        (id: "shipping_bin", x: 6, y: 10),
        (id: "well", x: 7, y: 10),
        (id: "crate", x: 8, y: 10),
        (id: "boulder", x: 10, y: 10),
        (id: "barrel", x: 6, y: 10),
        (id: "fence_post", x: 0, y: 11),
        (id: "fence_v", x: 1, y: 11),
        (id: "fence_h", x: 2, y: 11),
        (id: "fence_h_long", x: 3, y: 11),
        (id: "fence_gate", x: 5, y: 11),
        (id: "stone_wall", x: 6, y: 11),
        (id: "stone_wall_h", x: 7, y: 11),
        (id: "stone_wall_post", x: 8, y: 11),
        (id: "iron_gate", x: 9, y: 11),
        (id: "stone_wall_v", x: 10, y: 11),
        (id: "farmhouse_roof", x: 0, y: 12),
        (id: "farmhouse_roof_dark", x: 1, y: 12),
        (id: "farmhouse_roof_window", x: 2, y: 12),
        (id: "farmhouse_wall", x: 3, y: 12),
        (id: "farmhouse_wall_window", x: 4, y: 12),
        (id: "farmhouse_door", x: 5, y: 12),
        (id: "mailbox", x: 6, y: 12),
        (id: "mine_entrance", x: 7, y: 12),
        (id: "hay", x: 8, y: 12),
        (id: "grass_patch_flowers", x: 9, y: 12),
    ],
)
